@import '../../theme.scss';

.container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  // background-color: aquamarine;
}

.title {
  font-weight: bold;
  font-size: 24px;
  margin: 0 10px;
}