// .table_text {
//   font-size: 18px !important;
// }

// .table_input_align input {
//   // max-width: 50px;

//   // input {
//   text-align: center !important;
//   // }
// }

// // .table_input_full input {
// //   text-align: center !important;
// // }

// .table_total {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin: 0 20px;
// }

// .text_total {
//   // font-size: 34px;
//   font-weight: bold;
// }

.header_margin {
  margin-top: 40px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  // text-align: right;
  // align-items: right;
}

.footer_buttons {
  display: flex;
  justify-content: end;
  align-items: center;
}

.button_size_small {
  // width: 170px;
  margin: 10px !important;
  // padding: 10px 20px!important;
}

.button_size {
  width: 170px;
  margin: 10px !important;
  // padding: 10px 20px!important;
}

// // .ui.table thead th {
// //   padding: 10px !important;
// // }

@media print {
  .no_print {
    display: none;
  }
}