.bth_grid_content {
    margin: 20px 12px;
}

.bth_grid_row {
    padding: 0.2rem !important;
}

.bth_grid_date {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 15px;
}

.bth_grid_input_date {
    width: 100%;
}

.bth_grid_text {
    font-weight: bold;
}

.bth_button_size {
    width: 100%;
}