.table_text {
  font-size: 18px !important;
}

.table_input_align input {
  text-align: center !important;
}

.table_total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.table_cell_red {
  color: red;
}

.text_total {
  font-weight: bold;
}

.ui.table {

  th.table_header {
    padding: 10px !important;
  }
}

.ui.table tbody {

  td.table_cell_sale {
    padding: 10px !important;
  }
}

@media print {

  // .table_header {
  //   -webkit-print-color-adjust: exact;
  //   print-color-adjust: exact;
  //   background-color: lightgray !important;
  // }


  .ui.table {

    th.table_header {
      padding: 0px !important;
    }
  }

  .ui.table tbody {

    td.table_cell_sale {
      padding: 2px !important;
    }
  }

  .no_print {
    display: none;
  }
}