.modal_size {
  max-width: 500px;
  margin: 0 auto;
}

.modal_subtitle_align {
  text-align: 'left';
}

.modal_content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 70px;
}

.modal_logo {
  display: flex;
  margin: 0 auto;
}

.modal_title {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-size: 34px;
  font-weight: bold;
}

.modal_btn {
  width: 100%;
  margin-top: 20px !important;
}
